
*
{
	box-sizing: border-box;
	margin: 0;
}

header.picture
{
	background-image: url(zadanie-domowe-rwd-materialy/obrazy/man-1.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	position:relative
}

div.text
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 50px;
}

h1,h2
{
	color: #fff;
	line-height: 50px;
	font-family: verdana;
}



@media all and (min-width:1170px)
{
	
	header.picture
	{
		height: 100%;
		background-size:cover;
		background-position: center;
	}
} 

@media (min-width:992px) and (max-width:1170px)
{
	
	header.picture
	{
		background-image:url(zadanie-domowe-rwd-materialy/obrazy/man-2.jpg);
		height: 70vh;
		width: 100%;
		background-size:cover;
		background-position: center;
		position:relative;
	}
	
	div.text
	{
	position: absolute;
	left: 600px;
	top:100px;
	}
}

@media (max-width:992px)
{
	header.picture
	{ 
		background-image:url(zadanie-domowe-rwd-materialy/obrazy/man-1.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 50vh;
        text-align: center;
        position: relative;
	}
	
	div.text
	{
	position: absolute;
	top: 60vh;
	left:30%
    }
	h1,h2{
		color: black;
	}
}



